


nav{
   
   
    margin-top: -2.7%;
    margin-left: 71.80%;
}
header{
    border: 1px ridge white;
    background-color: yellow;
    height: 39px;
      
}
#p1{
    margin-left: 30%;
    padding-top: 18%;
    margin-bottom: -0.2%
    
    
}
a{ 
    text-decoration: none;
}
a:hover{
    background-color: white;


}
#one{
    margin-left: 620px;
    
}


 img{
    
     margin-top:0.4%;
     margin-left: 1.3%;
     height: 32.80px;
     width:32px;
     
 }
 

