section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2%;
}

#o, #c, #t {
    height: 300px;
    width: 250px;
    border: 1px solid black;
    margin-bottom: 20px;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    background-color: purple;
    color: aliceblue;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

a:hover {
    border: 2px solid black;
}
